/* General body and HTML styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
    background-color: #2a3a59;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Button styling */
.btn {
    background-color: #dba959;
    color: #2a3a59;
    border: none;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: buttonFadeIn 1.5s ease-in-out;
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    animation: buttonBounce 0.5s;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #2a3a59;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #dba959;
    width: 75%;
    text-align: center;
    animation: bounceInDown 1s, fadeIn 2s;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Keyframes for bounce animation */
@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes buttonBounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes buttonFadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Form styling */
#formContainer div {
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
}

#formContainer label {
    display: block;
    font-size: 16px;
    color: #ffffff;
}

/* Text container styling */
.text-container {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    padding: 10px;
    border-radius: 10px; /* Curvy border */
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
}
